.about_prestation_container{
    width: 90vw;
    height: 55vh;
    padding:0 0 50px 10vw;
    display: flex;
    justify-content: space-between;
}

.about_prestation_description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.about_prestation_description h4{
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin: 5px;
}
.about_prestation_description p{
    font-size: 19px;
    font-weight: 600;
    color: #000000;
    margin: 5px;
}
.about_prestation_description h4, p{
    color: #000000;
}

.about_prestation_image{
    width: 40%;
    height: 55vh;
    object-fit: cover;
    filter :brightness(0.7);
}

@media screen and (min-width: 1400px) {
    .about_prestation_description{
        width: 60%;
    }
    .about_prestation_image{
        width: 30%;
    }
    .about_prestation_description p {
        font-size: 25px;
        font-weight: 500;
    }
}
@media screen and (max-width: 767px) {
    .about_prestation_container{
        flex-direction: column;
        justify-content: space-evenly;
        width: 100vw;
        padding: 0;
    }
    .about_prestation_description{
        width: 90vw;
        padding: 0 5vw;
    }
    .about_prestation_image{
        width: 100vw;
        height: 25vh;
        object-fit: cover;
    }
}