.prestation-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50vh;
    justify-content: space-between;
}
.prestation-container.inverted{
    flex-direction: row-reverse;
    justify-content: center;
}
.prestation-image{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.prestation-details{
    width: 45%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #4791AC;
    align-items: center;
}
.prestation-container.inverted .prestation-details{
    background-color: #C99C64;
}
.prestation-container.inverted .prestation-title, .prestation-container.inverted .prestation-list li{
    color: #000000;
}
.prestation-details aside{
    width: 90%;
}
.prestation-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.prestation-list li{
    font-size: 20px;
    color: #ffffff;
}
.prestation-title{
    text-decoration: underline;
    font-size: 25px;
    margin: 5px 0;
    color: #ffffff;
    width: 90%;
}

@media screen and (max-width: 767px) {
    .prestation-container, .prestation-container.inverted{
        flex-direction: column-reverse;
        width: 100vw;
        align-items: center;
        padding: 0;
        height: auto;
    }
    .prestation-details{
        width: 90vw; 
        top: -20px; 
      }
      .prestation-image {
        width: 100vw;
        object-fit: cover;
        height: 35vh;
        position: relative;
        top: -50px;
        left: 0vw;
    }
    .prestation-container.inverted .prestation-details{
        left: 0 ;
        top: -80px;
    }
    .prestation-container.inverted .prestation-image{
        top: -110px;
        left: -0vw;
    }
    .prestation-container.last{
        margin: 0 0 -170px 0;
    }
    .prestation-container.last .prestation-image{
        top: -170px;
        left: -0vw;
    }
    .prestation-container.last .prestation-details{
        top: -140px;
}
.prestation-container.inverted .prestation-details{
    border-top: none;
    border-left: none;
}
}