.prestation-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 75vh;
    justify-content: space-between;
}
.prestation-container.inverted{
    flex-direction: row-reverse;
    justify-content: center;
}
.prestation-image{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.prestation-details{
    width: 50%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.prestation-details aside{
    width: 90%;
}
.prestation-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.prestation-list li{
    font-size: 25px;
    text-align: center;
    color: #ffffff;
}
.prestation-title{
    text-decoration: underline;
    font-size: 35px;
    text-align: center;
    margin: 5px 0;
    color: #ffffff;
    width: 90%;
}
@media screen and (min-width: 1024px) and (max-width: 1499px) {
    .prestation-container{
        height: 90vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .prestation-image{
        width: 35%;
    }
    .prestation-details{
        width: 65%;
        gap: 25px;
    }
    .prestation-list{
        gap: 25px;
    }
    .prestation-list li{
        font-size: 20px;
    }
    .prestation-title{
        font-size: 30px;
    }
}
@media screen and (max-width: 1023px) {
    .prestation-details, .prestation-list{
        gap: 25px;
    }
}
@media screen and (max-width: 767px) {
    .prestation-container, .prestation-container.inverted{
        flex-direction: column-reverse;
        width: 100vw;
        align-items: center;
        padding: 0;
        height: 100vh;
    }
    .prestation-details{
        width: 100vw; 
        height: 60vh;
      }
      .prestation-title{
        font-size: 25px;
    }
    .prestation-list li{
        font-size: 18px;
    }
      .prestation-image {
        width: 100vw;
        object-fit: cover;
        height: 40vh;
    }
}