.container_about{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}
.about_title{
    color: #000000;
}

.border_title_about{
    width: 300px;
    display: flex;
    height: 3px;
    background-color: #4791AC ;
}
.about_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 50px;
    padding: 50px;
}
.about_description{
    width: 50%;
}
.about_description_entreprise{
    display: flex;
    width: 80vw;
    padding: 25px 0;
}
.about_description_title{
    color: #C99C64;
}
.about_description_text_entreprise, .about_description_text_zone{
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.about_description_contact .about_description_text{
    color: #000000;
}
.about_image{
    position: relative;
}
.border_image_about{
    position: absolute;
    height: 400px;
    width: 300px;
    border: solid 5px #4791AC;
    left: 25px;
    top: 25px;
}

.image_about{
    height: 400px ;
    width: 300px;
    position: relative;
    z-index: 2;
    object-fit: cover;
}

.about_button{
    background-color: #4791AC;
    width: 350px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    font-size: 22px;
    color: #ffffff;
}
@media screen and (max-width: 767px) {
    .container_about { 
        overflow: hidden;
        padding: 20px 0 20px 0;
    }
    .about_title{
        text-align: center;
    }
    .border_title_about {
        width: 200px;
    }
    .about_content{
        flex-direction: column;
        padding: 0 20px;
        gap: 30px;
        align-items: flex-start;
    }
    .about_description{
        width: 100%;
    }
    .about_description_entreprise{
        padding: 15px;
        margin-top: 15px;
        flex-direction: column;
        width: 90vw;
    }
    .about_description_entreprise .about_description_title{
        color: #000000;
        font-size: 20px;
        margin: 0;
    }
    .about_description_text_entreprise, .about_description_text_zone, .about_description_contact .about_description_text{
        color: #000000;
        font-size: 16px;
        margin: 10px 0 0 0;
    }
    .about_description_zone{
        margin-top: 15px;
        padding: 15px;
        background-color: #C99C64;
    }
    .about_description_zone .about_description_title{
        color: #000000;
        margin: 0;
    }
    .about_image {
        padding: 25px 0 0 0;
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
    }
    .image_about {
        height: 250px;
        width: 200px;
        position: relative;
        left: 10px;
    }
    .border_image_about {
        position: absolute;
        height: 250px;
        left: auto;
        width: 200px;
        top: 10px;
        left: initial;    
    }
    .about_button{
        width: auto;
        padding: 25px;
        font-size: 18px;
    }
}