.container_banner{
    position: relative;
    height: 83vh;
    margin-bottom: 40px;
}
.banner_image{
 width: 100vw;
 height: 72vh;
 object-fit: cover;
 filter:brightness(50%);
}
.container_intro_banner{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 72vh;
    align-items: center;
    position: absolute;
    top: 0;
}
.intro_banner{
    width: 450px;
}
.banner_title{
    text-transform: uppercase;
    margin: 20px 0;
}

.banner_cta{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.services_button, .contact_button{
    height: 50px;
    border: none;
    border-radius: 50px;
    width: 40%;
    color: #ffffff;
    font-size: 20px;
}
.services_button{
    background-color: #C99C64 ;
}
.contact_button{
    background-color: #4791AC ;
}

.form_content{
    width: 380px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_content div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_content label{
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px 0;
}

.form_content input{
    height: 40px;
    background: #ffffff;
    border: solid 1px #000000;
    padding: 5px;
    color: #000000;
}

.form_content textarea{
    height: 120px;
    background: #ffffff;
    border: solid 1px #000000;
    padding: 5px;
    color: #000000;
}

.form_button{
    height: 50px;
    width: 320px;
    background-color: #4791AC;
    border: none;
    color: #ffffff;
    font-size: 25px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {
    .services_button, .contact_button{
        height: 40px;
        width: 50%;
        font-size: 18px;
    }
    .container_banner{
        height: 86vh;
    }
    .banner_title{
        margin: 15px;
    }
    .container_intro_banner{
        flex-direction: column;
        height: 86.1vh;
    }
    .banner_subtitle{
        font-weight: 600;
    }
    .banner_image{
        height: 100%;
        width: 767px;
    }
    .intro_banner{
        text-align: center;
        width: 95%;
    }
    .banner_cta{
    gap: 5px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    }
    .form_content{
        width: 85%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row;
        gap:0 25px ;
    }
    .email, .name{
        width: 45% !important;
    }
    .form_content label{
        font-size: 17px;
        font-weight: 500;
    }
    .form_content textarea{
        height: 80px;
    }
    .contact_homepage{
        height: 120vh;
    }
    .form_content input{
        height: 30px;
    }
    .contact_homepage_container{
        justify-content: center;
    }
    .form_button{
        height: 40px;
        width: auto;
        font-size: 20px;
    }
  }