.container_banner{
    position: relative;
    height: 83vh;
    margin-bottom: 40px;
}
.banner_image{
 width: 100vw;
 height: 72vh;
 object-fit: cover;
 filter:brightness(50%);
 /* filter: brightness(0.4);
 background-image: url('../../../public/banner_image.webp');
 background-position: 0%;
 background-size: cover;
 background-repeat: no-repeat; */
}
.container_intro_banner{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 70vh;
    align-items: center;
    position: absolute;
    top: 0;
}
.intro_banner{
    width: 450px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner_title{
    text-transform: uppercase;
    margin: 0;
}
.banner_subtitle{
    margin: 0;
}
.banner_cta{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.services_button, .contact_button{
    height: 50px;
    border: none;
    border-radius: 50px;
    width: 40%;
    font-size: 20px;
}
.services_button a, .contact_button a{
    text-decoration: none;
    color: #ffffff;
}
.services_button{
    background-color: #C99C64 ;
}
.contact_button{
    background-color: #4791AC ;
}

.form_content{
    width: 380px;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_content div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_content label{
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 0;
}

.form_content input{
    height: 35px;
    background: #ffffff;
    border: solid 1px #000000;
    padding: 5px;
    color: #000000;
}

.form_content textarea{
    height: 100px;
    background: #ffffff;
    border: solid 1px #000000;
    padding: 5px;
    color: #000000;
}

.form_button{
    height: 50px;
    width: 300px;
    background-color: #4791AC;
    border: none;
    color: #ffffff;
    font-size: 22px;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {
    .services_button, .contact_button{
        height: 40px;
        width: 50%;
        font-size: 18px;
    }
    .container_banner{
        height: 75vh;
        margin: 0;
    }
    .banner_title{
        margin:0 15px;
    }
    .container_intro_banner{
        flex-direction: column;
        height: 75vh;
    }
    .banner_subtitle{
        font-weight: 600;
        font-size: 20px;
        padding: 0 5px;
    }
    .banner_image{
        height: 100%;
        width: 100%;
    }
    .intro_banner{
        text-align: center;
        width: 95%;
        height: 35%;
    }
    .banner_cta{
    gap: 5px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    }
    .contact_button, .services_button{
        font-size: 16px;
        width: 42%;
    }
    .form_content{
        width: 85%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row;
        gap:0 2% ;
        padding:15px 10px;
    }
    .tel, .name{
        width: 49% !important;
    }
    .form_content label{
        font-size: 16px;
        font-weight: 500;
    }
    .form_content textarea{
        height: 60px;
    }
    .form_content input{
        height: 25px;
    }
    .contact_homepage_container{
        justify-content: center;
    }
    .form_button{
        height: 40px;
        width: 85%;
        font-size: 17px;
    }
  }