.bottom_banner{
    height: 10vh;
    position: absolute;
    bottom: -10vh;
    width: 100vw;
    background-color: #C99C64 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.list_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    padding: 0 ;
    margin: 0;
    height: 90%;
    justify-content: space-around;
}

.bottom_banner img{
    width: 50px;
    height: 50px;
}
.bottom_banner li{
    list-style: none;
    font-size: 18px;
    gap: 15px;
    width: auto;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px)  and (max-width: 1300px) {
    .bottom_banner li{
        font-size: 20px;
        width: 230px;
    }
}

@media screen and (max-width: 767px) {
    .bottom_banner{
        position: absolute;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 12vh;
        bottom: -12vh;
        padding: 0;
    }
    .list_container{
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: space-evenly;
    }
    .bottom_banner li {
        font-size: 14px;
        width: 140px;
        font-weight: 500;
        gap: 5px;
    }
    .bottom_banner img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
  }