.nav-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.logo-header{
  width: auto;
    height: 18vh;
    object-fit: cover;
    z-index: 10;
}

.nav-links{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 19vh;
    border-bottom: solid 1vh #c99c64;
  }
  
  header h1 {
    width: 150px;
    margin-left: 30px;
  }
  
  body {
    margin: 0;
    overflow: auto; 
  }
  
  .desktop-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
  }

  .desktop-nav a{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
  }

  .subnav {
    position: relative;
    display: inline-block;
  }
  .title_subnav{
    font-size: 20px;
    font-weight: 600;

  }
  .subnav-title {
    cursor: pointer;
    padding: 10px;
  }
  
  .subnav_link_container {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    border-radius: 0 0 10px 10px;
    padding: 0;
    margin: 0;
    display: block;
    min-width: 200px;
    z-index: 1000;
  }

  .subnav_link_container {
    width: 100%;
  }
  
  .subnav_link_container li {
    padding: 5px;
    white-space: nowrap;
  }

  .desktop-nav .icon_facebook, .contact_content_header img{
    height: 30px;
    width: 30px;
  }
  .icon_phone{
    position: fixed;
    top: 92vh;
    right: 2vw;
    z-index: 999;
  }
  .contact_container_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  .contact_content_header{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .mobile-menu {
    display: none; 
  }
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4; 
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input {
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -60px;
    left: -05px;
    cursor: pointer;
    opacity: 0;
    z-index: 50;
  }
  
  #menuToggle span {
    display: flex;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 100;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle input:checked ~ span {
    transform: rotate(45deg) translate(-3px, -1px);
    background: #000000; 
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: #ffffff; 
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: -10; 
    overflow: hidden; 
  }
  
  #menu.open {
    transform: translateX(0); 
  }

  #menu.open .contact_container_header{
    justify-content: center;
  }
  
  body.menu-open {
    overflow: hidden; 
    height: 100vh;
  }
  
  #menu li {
    padding: 20px 0;
    list-style: none;
    color: #000000;
    text-align: center;
  }
  
  #menu li a {
    color: #000000;
    font-size: 30px; 
    text-decoration: none; 
  }

  .arrow_up{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 15px;
    right: 30px;
    padding: 5px;
    background-color: #ffffff36;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .desktop-nav{
        gap: 25px;
        height: 100%;
    }

    .logo-header{
        height: 150px;
        width: 150px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .desktop-nav {
      display: none;
    }

    #menu li a {
      font-size: 22px;
    }
  
    .mobile-menu {
      display: flex;
      align-items: center;
      width: 100%;
      height: 10vh;
      justify-content: space-around;
    }

    #menuToggle{
      position: absolute;
      right: 50px;
    }
  
    header {
      flex-direction: row-reverse;
      gap: 0;
      height: 12vh;
      justify-content: space-evenly;
    }
    .logo-header{
      height: 80px;
      width: 80px;
    }

    .logo_link_header{
      z-index: 5;
      position: absolute;
      left: 30px;
    }

    .icon_facebook,.icon_mail{
      height: 50px;
      width: 50px;
    }
    .icon_phone{
      width: 30px;
      height: 30px;
      top: 95.5vh;
    }

    .title_subnav{
      width: auto !important;
      background: none !important;
      height: auto !important;
      font-size: 22px;
      text-align: center;
      font-weight: 400;
    }

    .subnav_link_container {
      position: relative;
      top: 0px;
      left: 0;
      background: white;
      list-style: none;
      border-radius: 0 0 10px 10px;
      padding: 0;
      margin: 0;
      display: block;
      min-width: 200px;
      z-index: 1000;
    }
  }