.container_services{
    height: auto;
    padding:25px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}
.title_services{
    font-weight: 800;
    margin: 0 0 25px 0;
    color: #4791AC;
}
.border_title{
    width: 200px;
    display: flex;
    height: 3px;
    background-color: #C99C64 ;
}
.subtitle_services{
    color: #4791AC;
    margin: 20px 0 0 0;
    width: 75vw;
    text-align: center;
}
.subtitle_services_1{
    font-size: 25px;
}
.subtitle_services_2{
    font-size: 20px;
}
.services_cards {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 25px 0;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    height: 50vh;
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    background-size: cover; /* Couvre toute la carte */
    background-position: center;
    background-repeat: no-repeat;
}
.card_icon{
    height: 40%;
}
.card_1 .card_content, .card_4 .card_content{
    background-color: #C99C64;
    color: #000000;
}
.card_1 a.link_card, .card_4 a.link_card, .card_1 .card_title, .card_4 .card_title{
 color: #000000;
}
.card_1 .link_card, .card_4 .link_card{
    border: solid 2px #000000;
   }
.card_1 .link_card, .card_4 .link_card{
    background-color: #C99C64;
}
.card_2 .card_content, .card_3 .card_content{
    background-color: #4791AC;
}
.card_2 .link_card, .card_3 .link_card{
    background-color: #4791AC;
}
.card_content{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card_title{
    margin: 15px 0 0 0;
    font-size: 25px;
    font-weight: 700;
    z-index: 5;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card_1{
    background-image: url('../../../public/peinture_intérieur_card.webp');
}
.card_2{
    background-image: url('../../../public/isolation.webp');
}

.card_3{
    background-image: url('../../../public/peinture_exterieur.webp');
}
.card_4{
    background-image: url('../../../public/sol.webp');
}
.card_1 .card_title, .card_3 .card_title{
    width: 100%;
    margin: 0;
}
.card_2 .card_title, .card_4 .card_title{
    color: #000000;
    width: 100%;
    margin: 0;
}
 .link_card{
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    width: auto;
    padding: 10px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #000000;
    border-radius: 50px;
    
 }
 @media screen and (min-width: 1600px) {
    .card_3 .card_content {
        background-color: #C99C64;
    }
    .card_3 .link_card {
        background-color: #C99C64;
    }
    .card_4 .card_content {
        background-color: #4791AC;
    }
    .card_4 .link_card {
        background-color: #4791AC;
    }
 }
 @media screen and (min-width: 1300px) and (max-width: 1600px) {
    .services_cards {
        width: 80vw;
        padding: 25px 0;
        justify-content: center;
    }
    .card {
        width: 35vw;
    }
 }
 @media screen and (min-width: 1024px) and (max-width: 1299px) {
    .services_cards {
        width: 100vw;
        padding: 25px 0;
        justify-content: center;
    }
    .card {
        width: 40vw;
    }
 }
 @media screen and (min-width: 768px) and (max-width: 1023px) {
    .services_cards {
        justify-content: space-between;
        gap:5vw 2.5vw;
    }
    .card {
        width: 47.5vw;
    }
 }
@media screen and (max-width: 767px) {
    .container_services {
        padding:25px 0 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subtitle_services{
        width: 95vw;
    }
    .subtitle_services_1{
        font-size: 20px;
    }
    .subtitle_services_2{
        font-size: 17px;
        margin: 25px 0;
    }
    .services_cards{
        width: 100vw;
        gap: 5px 0;
        padding: 0;
        justify-content: space-between;
    }
    .card{
        width: 49vw;
        height: 35vh;
    }
    .card_content{
        height: 45%;
    }
    .card_title{
        height: 45%;
        font-size: 17px;
        text-align: center;
    }
    .card_1 .card_title, .card_3 .card_title{
        width: 95%;
        margin: 0;
    }
    .card_3 .card_content , .card_3 .link_card{
        background-color: #4791AC;
    }
    .card_4 .card_content , .card_4 .link_card{
        background-color: #C99C64;
    }
    .link_card{
        padding: 5px;
        width: 135px;
    }
    .link_card{
        font-size: 13.5px;
    }
}