@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500..700;1,500..700&display=swap');

html, body {
  width: 100vw;
  padding: 0;
  overflow-x: hidden ;
  font-family: "Montserrat", serif;
  font-display: swap;
}

h1, h2, h3,h4 p, label {
  color: #ffffff;
  font-weight: 800;
  font-family: "Montserrat", serif;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
  margin: 10px 0;
}
h3{
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 27px;
  }
  h3{
    font-size: 23px;
  }
  #reviews{
    height: 72vh;
    padding: 50px 0 0 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    overflow: hidden;
    scrollbar-width: none;
  }
}